mixin navigation
  nav
    a(href="/")
      b Demographix
    a(href="/cities") Cities
    a(href="/countries") Countries
    a(href="/capital-city-report") Capital City
    a(href="/population") Population Report
    a(href="/about") About
