mixin navigation
  nav
    a(href="/")
      b My Website
    a(href="/cities") Cities
    a(href="/countries") Countries
    a(href="/capital-city-report") Capitals
    a(href="/population") Population Report
    a(href="/about") About
