table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th.sortable {
    cursor: pointer;
  }
  
  th.sortable.asc::after {
    content: ' ▲';
  }
  
  th.sortable.desc::after {
    content: ' ▼';
  }
  
  th.fit,
  td.fit {
    width: 1%;
    white-space: nowrap;
  }
  